
/* navigation bar */

ul{
    list-style: none;
}

a{
    color: rgb(25, 25, 25);
}

ul{
    display: inline-block;
}

nav{
    display: inline-block;
}


.navbar{

    max-height: 100px;
    width: 100%;
    top: 0;
    position: fixed;
    margin-top: 0;
    background-color: rgb(186, 186, 186);
    border-bottom: 10px;
}


.container-fluid{
    margin-top: 0;
    display: inline-block;
}

.logo{
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

/* main section styling */

.main-bg{
    margin-top: auto;
    margin-bottom: auto;
}

/* home page specimen display */
.card-body {
    background-color: aquamarine;
}


.container{}