
/* navigation bar */

nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0;
}

.nav-item{
    margin-left: 30px;
    color: #cecece;
    font-weight: 600;
}

.logo{
    position: absolute;
    text-align: center;
    margin-bottom: 3;
}

.logo-text{
    font-weight: 800;
    font-size: 800;
    margin-bottom: 0;
}

.links{
    float: right;
}

.logo-image{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-bottom: 0;
    display: inline-block;
}

/* main section styling */

.main-bg{
    margin-top: auto;
    margin-bottom: auto;
}

/* home page specimen display */

.display{
    background-color: rgb(149, 149, 149);
}

