{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- user specimen display -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for specimen in SpecimenList %}
                <div class="col-md-6">
                    <div class="card">
                        <a href="#" class="specimen-link">
                            <div class="card-body">
                                <div class="image-container">
                                    <img src="{{ specmien.specimen_image.url }}" alt="">
                                </div>
                                <div class="info-container">
                                    <p class="specimen-name">
                                        <strong>
                                            <h2>{{ specimen.latin_name }}</h2>
                                            <h3> | {{ specimen.english_name }}</h3>
                                        </strong>
                                    </p>
                                    <p class="location">
                                        {{ specimen.locaton }}
                                    </p>
                                    <p class="date-found">
                                        {{ specimen.when_found }}
                                    </p>
                                    <p class="comment-count">
                                        <i class="fa-solid fa-comment-dots"></i>
                                        {{ specimen.number_of_comments }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{%endblock%}
