{% extends "base.html" %} {% block content %}

<div class="container-fluid row">
    <!-- user specimen display -->
    <div class="col-12 mt-3 left">
        {% for specimen in specimen_list %}
            <div class="col-md-6 card">
                <a href="#" class="specimen-link">
                    <div class="card-body">
                        <div class="image-container">
                            <img src="{{ specmien.specimen_image.url }}" alt="">
                        </div>
                        <div class="info-container">
                            <p class="specimen-name">
                                <strong>
                                    <h3>{{ specimen.latin_name }}</h3>
                                    <h4> | {{ specimen.english_name }}</h4>
                                </strong>
                            </p>
                            <p class="location">
                                {{ specimen.locaton }}
                            </p>
                            <p class="date-found">
                                {{ specimen.when_found }}
                            </p>
                            <p class="comment-count">
                                <i class="fa-solid fa-comment-dots"></i>
                                {{ specimen.number_of_comments }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{%endblock%}
