{% extends "base.html" %} {% block content %}
{% load static %}
{% load cloudinary %}
<div class="container-fluid">
    <div class="row">
    <!-- user specimen display -->
    <div class="col-12">
        <div class="row">
        {% for specimen in specimen_list %}
            <div class="col-md-4 col-xs-8 offset-1 card mb-4 right">
                <div class="card">
                <a href="{% url 'specimen_page' specimen.slug  %}" class="specimen-link">
                    <div class="card-body">
                        <div class="info-container">
                            <img src="{{ specmien.specimen_image.url }}" alt="">
                            <p class="specimen-name">
                                <strong>
                                    <h3>{{ specimen.latin_name }}</h3>
                                    <h4> | {{ specimen.english_name }}</h4>
                                </strong>
                            </p>
                            <p class="location">
                                {{ specimen.locaton }}
                            </p>
                            <p class="date-found">
                                {{ specimen.when_found }}
                            </p>
                            <p class="comment-count">
                                <i class="fa-solid fa-comment-dots"></i>
                                {{ specimen.number_of_comments }}
                            </p>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>

{%endblock%}
