{% extends 'base.html' %}
{% block content %}

<div class="masthead">
    <div class="container">
        <!-- species name and class -->
        <div class="info-container">
            <p class="specimen-name">
                <strong>
                    <h1>{{ specimen.latin_name }}</h2>
                    <h3> | {{ specimen.english_name }}</h3>
                </strong>
            </p>
        </div>
        <div class="d-none d-md-block col-md-6 specimen-display-image">
            <!-- specimen image -->
            <img src="{{ specmien.specimen_image.url }}" width="100%">
        </div>
            <!-- specimen information -->
        <div>
            <h3 class="location">
                {{ specimen.locaton }}
            </h3>
            <h3 class="when-found">
                {{ specimen.when_found }}
            </h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                </strong>
            {% endwith %}
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{  | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
