{% extends 'base.html' %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- species name and class -->
                <div>
                    <h1 class="species-name-latin">
                    
                    </h1>
                    <h3 class="species-name-english">
                        
                    </h3>
                </div>
                <!-- specimen information -->
                <div>
                    <h3 class="location">

                    </h3>
                    <h3 class="when-found">

                    </h3>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- specimen image -->
                {% if "placeholder" in species.featured_image.url %}
                <img src="" width="100%">
                {% else %}
                <img src="" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- additional infromation about the specimen -->
                <p class="card-text "></p>
                <div class="row">
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- total comments -->
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{  | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}
