{% extends 'base.html' %}
{% block content %}

<!-- specimen display with all information -->
<div class="container">
    <div class="specimen-container">
        <!-- species name and class -->
        <div class="specimen-name-container">
            <p class="specimen-name">
                <strong>
                    <h1>{{ specimen.latin_name }}</h2>
                    <h3> | {{ specimen.english_name }}</h3>
                </strong>
            </p>
        </div>
        <div class="d-none d-md-block col-md-6 specimen-display-image">
            <!-- specimen image -->
            <img src="{{ specmien.specimen_image.url }}" alt="image of {{ specimen.english_name }}">
        </div>
            <!-- specimen contextual information -->
        <div class="specimen-context">
            <h3 class="location">
                {{ specimen.locaton }}
            </h3>
            <h3 class="when-found">
                {{ specimen.when_found }}
            </h3>
        </div>
            <!-- further information about specimen  -->
        <div class="specimen-additional-info">
            <p>
                <strong><h3>Additional Specimen Information</h3></strong>
                {{ specimen.additional_information }}
            </p>
        </div>
    </div>
</div>
<hr>
<!-- comment section for providing goudance on any misidentifications on specimens -->
<div class="container">
    <div class="comment-container col-md-8 card mb-4 mt-3">
        <div class="amount-comments">
            {% with comments.count as total_comments %}
            <p>
                <i class="fa-solid fa-comment-dots"></i>
                <strong class="text-secondary">
                    {{ total_comments }}
                </strong>
            </p>
            {% endwith %}
        </div>
        <div class="comment-body">
            <!-- loop through comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="commenter-name"> 
                    <strong>
                        {{ comment.name }}
                    </strong>
                    suggested:
                </p>
                <p class="comment-content">
                    {{ comment.comment_content }}
                </p>
                <p class="comment-date">
                    {{ comment.created_on }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
